{% doc %}
  Sélecteur de quantité d'un produit.

  @param {string} name - Nom du sélecteur
  @param {string} [id] - Identifiant du sélecteur
  @param {number} [min] - Quantité minimale
  @param {number} [max] - Quantité maximale (si 0, pas de maximum)
  @param {number} [value] - Quantité initiale
  @param {boolean} [small] - Indique si le sélecteur est petit
  @param {boolean} [disabled] - Indique si le sélecteur est désactivé
  @param {string} [data_input] - Données à ajouter à l'input
  @param {string} [data_buttons] - Données à ajouter aux boutons

  @example
  {% render 'quantity-selector', value: 1, min: 1, max: 100, name: 'quantity-1' %}
{% enddoc %}

{% assign value = value | default: 1 %}
{% assign min = min | default: 1 %}
{% assign name = name | default: 'quantity' %}
{% assign small = small | default: false %}

{% assign style_class = 'quantity-selector' %}

{% if disabled %}
  {% assign style_class = style_class | append: ' quantity-selector--disabled' %}
{% endif %}

{% if small %}
  {% assign style_class = style_class | append: ' quantity-selector--small' %}
{% endif %}

<!-- Classique -->
<quantity-selector class="{{ style_class }}">
  <button
    name="minus"
    {% if data_buttons %}
      {{ data_buttons }}
    {% endif %}
  >
    {% render 'icon', icon: 'remove' %}
  </button>

  <input
    type="number"
    {% if id %}
      id="{{ id }}"
    {% endif %}
    name="{{ name }}"
    value="{{ value }}"
    min="{{ min }}"
    {% if max > 0 %}
      max="{{ max }}"
    {% endif %}
    {% if data_input %}
      {{ data_input }}
    {% endif %}
  >

  <button
    name="plus"
    {% if data_buttons %}
      {{ data_buttons }}
    {% endif %}
  >
    {% render 'icon', icon: 'add' %}
  </button>
</quantity-selector>

{% stylesheet %}
  :root {
    --quantity-selector-button-width: 30px;
  }

  .quantity-selector {
    border: var(--inputs-border-width) solid var(--color-input-border);
    border-radius: var(--inputs-border-radius);
    background-color: var(--color-input-background);
    height: var(--inputs-min-height);
    overflow: hidden;
    display: flex;
    min-width: calc(var(--quantity-selector-button-width) * 3 + var(--inputs-border-width) * 2);
    width: calc(var(--quantity-selector-button-width) * 3 + var(--inputs-border-width) * 2);
  }

  .quantity-selector--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  .quantity-selector button,
  .quantity-selector input {
    appearance: textfield;
    background-color: var(--color-input-background);
    border: none;
    transition: 0.2s;
    cursor: pointer;
    min-width: var(--quantity-selector-button-width);
    height: var(--inputs-min-height);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    color: var(--color-input-text);
  }

  .quantity-selector--small {
    height: calc(var(--small-multiplier) * var(--inputs-min-height));
    border-radius: calc(var(--small-multiplier) * var(--inputs-border-radius));
  }

  .quantity-selector--small button,
  .quantity-selector--small input {
    height: calc(var(--small-multiplier) * var(--inputs-min-height) - 2 * var(--inputs-border-width));
    width: calc(var(--small-multiplier) * var(--inputs-min-height) - 2 * var(--inputs-border-width));
  }

  .quantity-selector button[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }

  .quantity-selector button:not(:disabled):hover svg {
    transform: scale(1.1);
  }

  .quantity-selector .icon {
    pointer-events: none;
    font-size: 20px !important;
    color: var(--color-input-text);
  }

  .quantity-selector input::-webkit-inner-spin-button,
  .quantity-selector input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .quantity-selector input:focus-visible {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    z-index: 1;
  }
{% endstylesheet %}
