{% doc %}
  Affiche un champ de saisie.

  @param {string} label - Le texte du label
  @param {string} name - Nom du champ
  @param {string} [id] - Id du champ
  @param {string} [value] - Valeur du champ
  @param {string} [type] - Le type du champ (text, email, password, number, tel, url)
  @param {boolean} [small] - Indique si le champ est petit
  @param {boolean} [full_width] - Indique si le champ est pleine largeur
  @param {boolean} [disabled] - Indique si le champ est désactivé
  @param {string} [autocorrect] - Indique si le champ est autocorrecté
  @param {string} [autocapitalize] - Indique si le champ est autocapitalisé
  @param {string} [autocomplete] - Indique si le champ est auto-complété
  @param {boolean} [required] - Indique si le champ est requis
  @param {number} [min] - Valeur minimale du champ (si le type est number)
  @param {number} [max] - Valeur maximale du champ (si le type est number)
  @param {string} [data] - Données du champ (data-*)

  @example
  {% render 'textfield', label: 'Champ de saisie', name: 'textfield-1' %}
{% enddoc %}

{% assign style_class = 'textfield' %}

{% if small %}
  {% assign style_class = style_class | append: ' textfield--small' %}
{% endif %}

{% if full_width %}
  {% assign style_class = style_class | append: ' textfield--full-width' %}
{% endif %}

{% if disabled %}
  {% assign style_class = style_class | append: ' textfield--disabled' %}
{% endif %}

<div class="{{ style_class }}">
  <input
    {% if type %}
      type="{{ type }}"
    {% else %}
      type="text"
    {% endif %}
    name="{{ name }}"
    id="{{ id | default: name }}"
    placeholder="{{ label }}"
    {% if disabled %}
      disabled
    {% endif %}
    {% if value %}
      value="{{ value }}"
    {% endif %}
    {% if autocorrect %}
      autocorrect="{{ autocorrect }}"
    {% endif %}
    {% if autocapitalize %}
      autocapitalize="{{ autocapitalize }}"
    {% endif %}
    {% if autocomplete %}
      autocomplete="{{ autocomplete }}"
    {% endif %}
    {% if required %}
      required
    {% endif %}
    {% if type == 'number' %}
      {% if min %}
        min="{{ min }}"
      {% endif %}
      {% if max %}
        max="{{ max }}"
      {% endif %}
    {% endif %}
    {% if data %}
      {{ data }}
    {% endif %}
  >
  <label for="{{ id | default: name }}">{{ label }}</label>
</div>

{% stylesheet %}
  .textfield {
    position: relative;
  }

  .textfield input {
    outline: none;
    border: var(--inputs-border-width) solid var(--color-input-border);
    border-radius: var(--inputs-border-radius);
    padding: var(--inputs-padding);
    color: var(--color-input-text);
    background-color: var(--color-input-background);
    transition: 0.1s ease-out;
    height: var(--inputs-min-height);
    min-width: var(--inputs-min-width);
  }

  /* On masque le placeholder par défaut, car il fait doublon avec le label */
  .textfield input::placeholder {
    opacity: 0;
  }

  .textfield label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--inputs-font-size);
    background: var(--color-input-background);
    color: var(--color-input-text);
    background-color: var(--color-input-background);
    margin: 0 var(--inputs-padding);
    padding: 0 2px;
    transition: 0.1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }

  .textfield input:focus + label {
    color: var(--color-input-text);
    top: 0;
    transform: translateY(-50%) scale(0.9);
    background: linear-gradient(180deg, var(--color-background) 60%, var(--color-input-background) 40%);
  }

  .textfield input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(0.9);
    background: linear-gradient(180deg, var(--color-background) 60%, var(--color-input-background) 40%);
  }

  .textfield--small,
  .textfield--small input {
    height: calc(var(--small-multiplier) * var(--inputs-min-height));
  }

  .textfield--small input {
    padding: 0 var(--inputs-padding);
    border-radius: calc(var(--small-multiplier) * var(--inputs-border-radius));
  }

  .textfield--disabled input {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--color-input-background);
  }

  .textfield--disabled label {
    opacity: 0.5;
    background-color: transparent;
  }

  .textfield--full-width,
  .textfield--full-width input {
    width: 100%;
  }

  .textfield--error input {
    border-color: var(--color-error);
  }

  .textfield--error label {
    color: var(--color-error);
  }
{% endstylesheet %}
