<div
  class="cart-footer-resume-blocks{% if block.settings.wrap_in_card %} card color-{{ block.settings.color_scheme }}{% endif %}"
  style="--margin-top: {{ block.settings.margin_top }}px; --margin-bottom: {{ block.settings.margin_bottom }}px;"
>
  {% content_for 'blocks' %}

  {%- if cart.cart_level_discount_applications.size > 0 -%}
    <div class="cart__discounts">
      {%- for discount in cart.cart_level_discount_applications -%}
        <div class="cart__discount">
          {% render 'icon', icon: 'shoppingmode' %}
          <span>{{ discount.title }} (-{{ discount.total_allocated_amount | money }})</span>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

  {%- if cart.original_total_price != cart.total_price -%}
    <div class="cart__reductions">
      <p>{{ 'cart.discount' | t }}</p>
      <div class="cart__reductions-value">
        {% assign reduction = cart.original_total_price | minus: cart.total_price %}
        {% render 'price', price: reduction, sales_badge: 'none' %}
      </div>
    </div>
  {%- endif -%}

  <div class="cart__totals">
    <p>{{ 'cart.estimated_total' | t }}</p>
    <div class="cart__totals-value">
      {% assign real_cart_original_total_price = 0 %}

      {% for item in cart.items %}
        {% assign compare_price = item.original_price %}
        {% if item.variant.compare_at_price > item.original_price %}
          {% assign compare_price = item.variant.compare_at_price | times: item.quantity %}
        {% else %}
          {% assign compare_price = item.original_price | times: item.quantity %}
        {% endif %}
        {% assign real_cart_original_total_price = real_cart_original_total_price | plus: compare_price %}
      {% endfor %}

      {%- if real_cart_original_total_price > cart.total_price -%}
        {% render 'price', price: cart.total_price, compare_price: real_cart_original_total_price, sales_badge: 'none' %}
      {%- else -%}
        {% render 'price', price: cart.total_price, sales_badge: 'none' %}
      {%- endif -%}
    </div>
  </div>
</div>

{% stylesheet %}
  .cart-footer-resume-blocks {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:cart_footer_resume_blocks",
  "tag": null,
  "blocks": [
    {
      "type": "_cart-note"
    },
    {
      "type": "_cart-progress-bar"
    },
    {
      "type": "accordions"
    },
    {
      "type": "text"
    },
    {
      "type": "separator"
    },
    {
      "type": "_discount-code"
    },
    {
      "type": "cross-sell"
    },
    {
      "type": "slider"
    },
    {
      "type": "delivery-estimation"
    },
    {
      "type": "information-slider"
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "wrap_in_card",
      "label": "t:wrap_in_card",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color_scheme",
      "default": "scheme-2",
      "visible_if": "{{ block.settings.wrap_in_card }}"
    },
    {
      "type": "header",
      "content": "t:margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "t:margin_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "t:margin_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "t:cart_footer_resume_blocks"
    }
  ]
}
{% endschema %}
