{% liquid
  assign product = closest.product | default: product
  if request.visual_preview_mode and product == blank
    assign product = collections.all.products.first
  endif
%}

{%- liquid
  assign block_settings = block.settings
  assign variant = product.selected_or_first_available_variant
  if variant.inventory_management == 'shopify'
    assign inventory_managed = true
  endif
  assign inventory_quantity = variant.inventory_quantity
  assign inventory_policy = variant.inventory_policy
  assign threshold = block_settings.inventory_threshold

  if inventory_managed
    if inventory_quantity > 0
      if inventory_quantity <= threshold
        assign status = 'low'
        assign show_quantity = block_settings.show_inventory_quantity
        if show_quantity == false
          assign translation_key = 'products.inventory_low_stock'
        endif
      else
        assign status = 'in_stock'
        assign translation_key = 'products.inventory_in_stock'
      endif
    else
      if inventory_policy == 'continue'
        assign status = 'in_stock'
        assign translation_key = 'products.inventory_in_stock'
      else
        assign status = 'out_of_stock'
        assign translation_key = 'products.inventory_out_of_stock'
      endif
    endif
  else
    if product.selected_or_first_available_variant != null
      assign status = 'in_stock'
      assign translation_key = 'products.inventory_in_stock'
    else
      assign status = 'out_of_stock'
      assign translation_key = 'products.inventory_out_of_stock'
    endif
  endif
-%}

<script src="{{ 'product-inventory.js' | asset_url }}" type="module"></script>

<product-inventory
  class="
    product-inventory
    {%- if block.settings.show_on_display == 'desktop_only' %} mobile-hide{% endif -%}
    {%- if block.settings.show_on_display == 'mobile_only' %} desktop-hide{% endif -%}
    {%- if block.settings.additional_class != blank %} {{ block.settings.additional_class }}{% endif -%}
  "
  style="
    --margin-top: {{ block.settings.margin_top }}px;
    --margin-bottom: {{ block.settings.margin_bottom }}px;
  "
  {{ block.shopify_attributes }}
  {% if request.visual_preview_mode %}
    data-visual-preview-mode
  {% endif %}
>
  {% capture inventory_status_icon %}    
    <span class="product-inventory__icon product-inventory__icon-{{ status }}">
      <svg svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" fill="none" width="15" height="15">
        <circle cx="7.5" cy="7.5" r="7.5" fill="currentColor"/>
        <circle cx="7.5" cy="7.5" r="5" fill="currentColor" stroke="#FFF"/>
      </svg>
    </span>
  {% endcapture %}

  <span
    class="product-inventory__status product-inventory__status--{{ block.settings.inventory_position }}"
    data-ref="product-inventory"
  >
    {% if block.settings.inventory_position == 'left' or block.settings.inventory_position == 'center' %}
      {{ inventory_status_icon }}
    {% endif %}

    <span class="product-inventory__text">
      {%- if show_quantity -%}
        {{ 'products.inventory_low_stock_show_count' | t: count: inventory_quantity }}
      {%- else -%}
        {{- translation_key | t -}}
      {%- endif -%}
    </span>

    {% if block.settings.inventory_position == 'right' %}
      {{ inventory_status_icon }}
    {% endif %}
  </span>
</product-inventory>

{% stylesheet %}
  .product-inventory {
    display: block;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
  }

  shopify-visual-preview-block-list .product-inventory[data-visual-preview-mode] {
    width: 150px;
  }

  .product-inventory__status {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    font-size: var(--font-body--size);
  }

  .product-inventory__status--left {
    justify-content: flex-start;
  }

  .product-inventory__status--right {
    justify-content: flex-end;
  }

  .product-inventory__status--center {
    justify-content: center;
  }

  .product-inventory__icon,
  .product-inventory__icon svg {
    width: 15px;
    height: 15px;
  }

  .product-inventory__icon-low {
    color: orange;
  }

  .product-inventory__icon-in_stock {
    color: green;
  }

  .product-inventory__icon-out_of_stock {
    color: red;
  }

  .product-inventory__icon circle:first-of-type {
    opacity: 0.3;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:product_inventory",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "show_on_display",
      "label": "t:show_on_display",
      "default": "desktop_and_mobile",
      "options": [
        { "value": "desktop_and_mobile", "label": "t:desktop_and_mobile" },
        { "value": "desktop_only", "label": "t:desktop_only" },
        { "value": "mobile_only", "label": "t:mobile_only" }
      ]
    },
    {
      "type": "range",
      "id": "inventory_threshold",
      "label": "t:inventory_threshold",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "show_inventory_quantity",
      "label": "t:show_inventory_quantity",
      "default": true
    },
    {
      "type": "select",
      "id": "inventory_position",
      "label": "t:alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "t:left" },
        { "value": "right", "label": "t:right" },
        { "value": "center", "label": "t:centered" }
      ]
    },
    {
      "type": "header",
      "content": "t:margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "t:margin_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "t:margin_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:advanced_settings"
    },
    {
      "type": "text",
      "id": "additional_class",
      "label": "t:additional_class",
      "info": "t:additional_class_info"
    },
    {
      "type": "header",
      "content": "t:go_further"
    },
    {
      "type": "paragraph",
      "content": "t:go_further_description"
    }
  ],
  "presets": [
    {
      "name": "t:product_inventory",
      "category": "t:product"
    }
  ]
}
{% endschema %}
