{% if block.settings.review_badge_style == 'google' %}
  {% comment %} theme-check-disable RemoteAsset {% endcomment %}
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,{{ settings.icon_weight }},0..1,{{ settings.icon_grade }}"
    rel="stylesheet"
  >
  {% comment %} theme-check-enable RemoteAsset {% endcomment %}
{% endif %}

<div
  class="
    reviews-badge
    {%- if block.settings.show_on_display == 'desktop_only' %} mobile-hide{% endif -%}
    {%- if block.settings.show_on_display == 'mobile_only' %} desktop-hide{% endif -%}
    {%- if block.settings.additional_class != blank %} {{ block.settings.additional_class }}{% endif -%}
  "
  style="
    --margin-top: {{ block.settings.margin_top }}px;
    --margin-bottom: {{ block.settings.margin_bottom }}px;
  "
  {{ block.shopify_attributes }}
  {% if request.visual_preview_mode %}
    data-visual-preview-mode
  {% endif %}
>
  {%- capture badge -%}
    <div class="reviews-badge_badge{% if block.settings.wrap_in_a_badge %} reviews-badge_badge--wrapped{% if block.settings.show_badge_border %} card--with-border{% endif %}{% endif %} color-{{ block.settings.color_scheme }}">
      {%- if block.settings.text_1 != blank -%}
        <div class="reviews-badge_text-1">{{ block.settings.text_1 }}</div>
      {%- endif -%}

      <div class="reviews-badge_stars">
        {%- case block.settings.stars -%}
          {%- when '4' -%}
            {% if block.settings.review_badge_style == 'trustpilot' %}
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="512px" height="96px" viewBox="0 0 512 96" version="1.1">
                  <g id="Trustpilot_ratings_4star-RGB" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill-rule="nonzero"><rect id="Rectangle-path" fill="#73CF11" x="0" y="0" width="96" height="96"/><rect id="Rectangle-path" fill="#73CF11" x="104" y="0" width="96" height="96"/><rect id="Rectangle-path" fill="#73CF11" x="208" y="0" width="96" height="96"/><rect id="Rectangle-path" fill="#73CF11" x="312" y="0" width="96" height="96"/><rect id="Rectangle-path" fill="#DCDCE6" x="416" y="0" width="96" height="96"/><path d="M48,64.7 L62.6,61 L68.7,79.8 L48,64.7 Z M81.6,40.4 L55.9,40.4 L48,16.2 L40.1,40.4 L14.4,40.4 L35.2,55.4 L27.3,79.6 L48.1,64.6 L60.9,55.4 L81.6,40.4 L81.6,40.4 L81.6,40.4 L81.6,40.4 Z" id="Shape" fill="#FFFFFF"/><path d="M152,64.7 L166.6,61 L172.7,79.8 L152,64.7 Z M185.6,40.4 L159.9,40.4 L152,16.2 L144.1,40.4 L118.4,40.4 L139.2,55.4 L131.3,79.6 L152.1,64.6 L164.9,55.4 L185.6,40.4 L185.6,40.4 L185.6,40.4 L185.6,40.4 Z" id="Shape" fill="#FFFFFF"/><path d="M256,64.7 L270.6,61 L276.7,79.8 L256,64.7 Z M289.6,40.4 L263.9,40.4 L256,16.2 L248.1,40.4 L222.4,40.4 L243.2,55.4 L235.3,79.6 L256.1,64.6 L268.9,55.4 L289.6,40.4 L289.6,40.4 L289.6,40.4 L289.6,40.4 Z" id="Shape" fill="#FFFFFF"/><path d="M360,64.7 L374.6,61 L380.7,79.8 L360,64.7 Z M393.6,40.4 L367.9,40.4 L360,16.2 L352.1,40.4 L326.4,40.4 L347.2,55.4 L339.3,79.6 L360.1,64.6 L372.9,55.4 L393.6,40.4 L393.6,40.4 L393.6,40.4 L393.6,40.4 Z" id="Shape" fill="#FFFFFF"/><path d="M464,64.7 L478.6,61 L484.7,79.8 L464,64.7 Z M497.6,40.4 L471.9,40.4 L464,16.2 L456.1,40.4 L430.4,40.4 L451.2,55.4 L443.3,79.6 L464.1,64.6 L476.9,55.4 L497.6,40.4 L497.6,40.4 L497.6,40.4 L497.6,40.4 Z" id="Shape" fill="#FFFFFF"/></g></g>
              </svg>
            {% elsif block.settings.review_badge_style == 'google' %}
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star_rate" translate="no">star_rate</span>
            {% else %}
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star_rate" translate="no">star_rate</span>
            {% endif %}
          {%- when '4,5' -%}
            {% if block.settings.review_badge_style == 'trustpilot' %}
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 96" style="enable-background:new 0 0 512 96;" xml:space="preserve">
                  <g id="Trustpilot_ratings_4halfstar-RGB"><g><rect id="Rectangle-path" fill="#00B67A" width="96" height="96"/><rect x="104" fill="#00B67A" width="96" height="96"/><rect x="208" fill="#00B67A" width="96" height="96"/><rect x="312" fill="#00B67A" width="96" height="96"/><g id="Half" transform="translate(416.000000, 0.000000)"><rect x="48" fill="#DCDCE6" width="48" height="96"/><rect fill="#00B67A" width="48" height="96"/></g><path id="Shape" fill="#ffffff" d="M48,64.7L62.6,61l6.1,18.8L48,64.7z M81.6,40.4H55.9L48,16.2l-7.9,24.2H14.4l20.8,15l-7.9,24.2    l20.8-15l12.8-9.2L81.6,40.4L81.6,40.4L81.6,40.4L81.6,40.4z"/><path fill="#ffffff" d="M152,64.7l14.6-3.7l6.1,18.8L152,64.7z M185.6,40.4h-25.7L152,16.2l-7.9,24.2h-25.7l20.8,15l-7.9,24.2    l20.8-15l12.8-9.2L185.6,40.4L185.6,40.4L185.6,40.4L185.6,40.4z"/><path fill="#ffffff" d="M256,64.7l14.6-3.7l6.1,18.8L256,64.7z M289.6,40.4h-25.7L256,16.2l-7.9,24.2h-25.7l20.8,15l-7.9,24.2    l20.8-15l12.8-9.2L289.6,40.4L289.6,40.4L289.6,40.4L289.6,40.4z"/><path fill="#ffffff" d="M360,64.7l14.6-3.7l6.1,18.8L360,64.7z M393.6,40.4h-25.7L360,16.2l-7.9,24.2h-25.7l20.8,15l-7.9,24.2    l20.8-15l12.8-9.2L393.6,40.4L393.6,40.4L393.6,40.4L393.6,40.4z"/><path fill="#ffffff" d="M464,64.7l14.6-3.7l6.1,18.8L464,64.7z M497.6,40.4h-25.7L464,16.2l-7.9,24.2h-25.7l20.8,15l-7.9,24.2    l20.8-15l12.8-9.2L497.6,40.4L497.6,40.4L497.6,40.4L497.6,40.4z"/></g></g>
              </svg>
            {% elsif block.settings.review_badge_style == 'google' %}
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star_half" translate="no">star_half</span>
            {% else %}
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star_half" translate="no">star_half</span>
            {% endif %}
          {%- when '5' -%}
            {% if block.settings.review_badge_style == 'trustpilot' %}
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="512px" height="96px" viewBox="0 0 512 96" version="1.1">
                  <g id="Trustpilot_ratings_5star-RGB" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill-rule="nonzero"><rect id="Rectangle-path" fill="#00B67A" x="0" y="0" width="96" height="96"/><rect id="Rectangle-path" fill="#00B67A" x="104" y="0" width="96" height="96"/><rect id="Rectangle-path" fill="#00B67A" x="208" y="0" width="96" height="96"/><rect id="Rectangle-path" fill="#00B67A" x="312" y="0" width="96" height="96"/><rect id="Rectangle-path" fill="#00B67A" x="416" y="0" width="96" height="96"/><path d="M48,64.7 L62.6,61 L68.7,79.8 L48,64.7 Z M81.6,40.4 L55.9,40.4 L48,16.2 L40.1,40.4 L14.4,40.4 L35.2,55.4 L27.3,79.6 L48.1,64.6 L60.9,55.4 L81.6,40.4 L81.6,40.4 L81.6,40.4 L81.6,40.4 Z" id="Shape" fill="#FFFFFF"/><path d="M152,64.7 L166.6,61 L172.7,79.8 L152,64.7 Z M185.6,40.4 L159.9,40.4 L152,16.2 L144.1,40.4 L118.4,40.4 L139.2,55.4 L131.3,79.6 L152.1,64.6 L164.9,55.4 L185.6,40.4 L185.6,40.4 L185.6,40.4 L185.6,40.4 Z" id="Shape" fill="#FFFFFF"/><path d="M256,64.7 L270.6,61 L276.7,79.8 L256,64.7 Z M289.6,40.4 L263.9,40.4 L256,16.2 L248.1,40.4 L222.4,40.4 L243.2,55.4 L235.3,79.6 L256.1,64.6 L268.9,55.4 L289.6,40.4 L289.6,40.4 L289.6,40.4 L289.6,40.4 Z" id="Shape" fill="#FFFFFF"/><path d="M360,64.7 L374.6,61 L380.7,79.8 L360,64.7 Z M393.6,40.4 L367.9,40.4 L360,16.2 L352.1,40.4 L326.4,40.4 L347.2,55.4 L339.3,79.6 L360.1,64.6 L372.9,55.4 L393.6,40.4 L393.6,40.4 L393.6,40.4 L393.6,40.4 Z" id="Shape" fill="#FFFFFF"/><path d="M464,64.7 L478.6,61 L484.7,79.8 L464,64.7 Z M497.6,40.4 L471.9,40.4 L464,16.2 L456.1,40.4 L430.4,40.4 L451.2,55.4 L443.3,79.6 L464.1,64.6 L476.9,55.4 L497.6,40.4 L497.6,40.4 L497.6,40.4 L497.6,40.4 Z" id="Shape" fill="#FFFFFF"/></g></g>
              </svg>
            {% elsif block.settings.review_badge_style == 'google' %}
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-sharp notranslate icon icon--google icon--star icon--star-filled" translate="no">star</span>
            {% else %}
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
              <span class="material-symbols-{{ settings.icon_style }} notranslate icon icon--star icon--star-filled" translate="no">star</span>
            {% endif %}
        {%- endcase -%}
      </div>

      {%- if block.settings.text_2 != blank -%}
        <div class="reviews-badge_text-2">{{ block.settings.text_2 }}</div>
      {%- endif -%}

      {% if block.settings.review_badge_style == 'google' or block.settings.review_badge_style == 'trustpilot' or block.settings.image != blank %}
        
      <div class="reviews-badge_logo">
        {%- if block.settings.logo != blank -%}
          <img src="{{ block.settings.logo | image_url: width: 200 }}" alt="Avis Logo" width="120" height="auto">
        {%- else -%}
          {% if block.settings.review_badge_style == 'trustpilot' %}
            <svg class="trustpilot-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1132.8 278.2"><path d="M297.7 98.6h114.7V120h-45.1v120.3h-24.8V120h-44.9V98.6zm109.8 39.1h21.2v19.8h.4c.7-2.8 2-5.5 3.9-8.1 1.9-2.6 4.2-5.1 6.9-7.2 2.7-2.2 5.7-3.9 9-5.3 3.3-1.3 6.7-2 10.1-2 2.6 0 4.5.1 5.5.2s2 .3 3.1.4v21.8c-1.6-.3-3.2-.5-4.9-.7-1.7-.2-3.3-.3-4.9-.3-3.8 0-7.4.8-10.8 2.3-3.4 1.5-6.3 3.8-8.8 6.7-2.5 3-4.5 6.6-6 11s-2.2 9.4-2.2 15.1v48.8h-22.6V137.7zm164 102.6h-22.2V226h-.4c-2.8 5.2-6.9 9.3-12.4 12.4-5.5 3.1-11.1 4.7-16.8 4.7-13.5 0-23.3-3.3-29.3-10s-9-16.8-9-30.3v-65.1H504v62.9c0 9 1.7 15.4 5.2 19.1 3.4 3.7 8.3 5.6 14.5 5.6 4.8 0 8.7-.7 11.9-2.2 3.2-1.5 5.8-3.4 7.7-5.9 2-2.4 3.4-5.4 4.3-8.8.9-3.4 1.3-7.1 1.3-11.1v-59.5h22.6v102.5zm38.5-32.9c.7 6.6 3.2 11.2 7.5 13.9 4.4 2.6 9.6 4 15.7 4 2.1 0 4.5-.2 7.2-.5s5.3-1 7.6-1.9c2.4-.9 4.3-2.3 5.9-4.1 1.5-1.8 2.2-4.1 2.1-7-.1-2.9-1.2-5.3-3.2-7.1-2-1.9-4.5-3.3-7.6-4.5-3.1-1.1-6.6-2.1-10.6-2.9-4-.8-8-1.7-12.1-2.6-4.2-.9-8.3-2.1-12.2-3.4-3.9-1.3-7.4-3.1-10.5-5.4-3.1-2.2-5.6-5.1-7.4-8.6-1.9-3.5-2.8-7.8-2.8-13 0-5.6 1.4-10.2 4.1-14 2.7-3.8 6.2-6.8 10.3-9.1 4.2-2.3 8.8-3.9 13.9-4.9 5.1-.9 10-1.4 14.6-1.4 5.3 0 10.4.6 15.2 1.7 4.8 1.1 9.2 2.9 13.1 5.5 3.9 2.5 7.1 5.8 9.7 9.8 2.6 4 4.2 8.9 4.9 14.6h-23.6c-1.1-5.4-3.5-9.1-7.4-10.9-3.9-1.9-8.4-2.8-13.4-2.8-1.6 0-3.5.1-5.7.4-2.2.3-4.2.8-6.2 1.5-1.9.7-3.5 1.8-4.9 3.2-1.3 1.4-2 3.2-2 5.5 0 2.8 1 5 2.9 6.7 1.9 1.7 4.4 3.1 7.5 4.3 3.1 1.1 6.6 2.1 10.6 2.9 4 .8 8.1 1.7 12.3 2.6 4.1.9 8.1 2.1 12.1 3.4 4 1.3 7.5 3.1 10.6 5.4 3.1 2.3 5.6 5.1 7.5 8.5 1.9 3.4 2.9 7.7 2.9 12.7 0 6.1-1.4 11.2-4.2 15.5-2.8 4.2-6.4 7.7-10.8 10.3-4.4 2.6-9.4 4.6-14.8 5.8-5.4 1.2-10.8 1.8-16.1 1.8-6.5 0-12.5-.7-18-2.2-5.5-1.5-10.3-3.7-14.3-6.6-4-3-7.2-6.7-9.5-11.1-2.3-4.4-3.5-9.7-3.7-15.8H610zm74.6-69.7h17.1v-30.8h22.6v30.8h20.4v16.9h-20.4v54.8c0 2.4.1 4.4.3 6.2.2 1.7.7 3.2 1.4 4.4.7 1.2 1.8 2.1 3.3 2.7 1.5.6 3.4.9 6 .9 1.6 0 3.2 0 4.8-.1 1.6-.1 3.2-.3 4.8-.7v17.5c-2.5.3-5 .5-7.3.8-2.4.3-4.8.4-7.3.4-6 0-10.8-.6-14.4-1.7-3.6-1.1-6.5-2.8-8.5-5-2.1-2.2-3.4-4.9-4.2-8.2-.7-3.3-1.2-7.1-1.3-11.3v-60.5h-17.1v-17.1zm76.1 0h21.4v13.9h.4c3.2-6 7.6-10.2 13.3-12.8 5.7-2.6 11.8-3.9 18.5-3.9 8.1 0 15.1 1.4 21.1 4.3 6 2.8 11 6.7 15 11.7 4 5 6.9 10.8 8.9 17.4 2 6.6 3 13.7 3 21.2 0 6.9-.9 13.6-2.7 20-1.8 6.5-4.5 12.2-8.1 17.2-3.6 5-8.2 8.9-13.8 11.9-5.6 3-12.1 4.5-19.7 4.5-3.3 0-6.6-.3-9.9-.9-3.3-.6-6.5-1.6-9.5-2.9-3-1.3-5.9-3-8.4-5.1-2.6-2.1-4.7-4.5-6.5-7.2h-.4v51.2h-22.6V137.7zm79 51.4c0-4.6-.6-9.1-1.8-13.5-1.2-4.4-3-8.2-5.4-11.6-2.4-3.4-5.4-6.1-8.9-8.1-3.6-2-7.7-3.1-12.3-3.1-9.5 0-16.7 3.3-21.5 9.9-4.8 6.6-7.2 15.4-7.2 26.4 0 5.2.6 10 1.9 14.4 1.3 4.4 3.1 8.2 5.7 11.4 2.5 3.2 5.5 5.7 9 7.5 3.5 1.9 7.6 2.8 12.2 2.8 5.2 0 9.5-1.1 13.1-3.2 3.6-2.1 6.5-4.9 8.8-8.2 2.3-3.4 4-7.2 5-11.5.9-4.3 1.4-8.7 1.4-13.2zm39.9-90.5h22.6V120h-22.6V98.6zm0 39.1h22.6v102.6h-22.6V137.7zm42.8-39.1H945v141.7h-22.6V98.6zm91.9 144.5c-8.2 0-15.5-1.4-21.9-4.1-6.4-2.7-11.8-6.5-16.3-11.2-4.4-4.8-7.8-10.5-10.1-17.1-2.3-6.6-3.5-13.9-3.5-21.8 0-7.8 1.2-15 3.5-21.6 2.3-6.6 5.7-12.3 10.1-17.1 4.4-4.8 9.9-8.5 16.3-11.2 6.4-2.7 13.7-4.1 21.9-4.1s15.5 1.4 21.9 4.1c6.4 2.7 11.8 6.5 16.3 11.2 4.4 4.8 7.8 10.5 10.1 17.1 2.3 6.6 3.5 13.8 3.5 21.6 0 7.9-1.2 15.2-3.5 21.8-2.3 6.6-5.7 12.3-10.1 17.1-4.4 4.8-9.9 8.5-16.3 11.2-6.4 2.7-13.7 4.1-21.9 4.1zm0-17.9c5 0 9.4-1.1 13.1-3.2 3.7-2.1 6.7-4.9 9.1-8.3 2.4-3.4 4.1-7.3 5.3-11.6 1.1-4.3 1.7-8.7 1.7-13.2 0-4.4-.6-8.7-1.7-13.1s-2.9-8.2-5.3-11.6c-2.4-3.4-5.4-6.1-9.1-8.2-3.7-2.1-8.1-3.2-13.1-3.2s-9.4 1.1-13.1 3.2c-3.7 2.1-6.7 4.9-9.1 8.2-2.4 3.4-4.1 7.2-5.3 11.6-1.1 4.4-1.7 8.7-1.7 13.1 0 4.5.6 8.9 1.7 13.2 1.1 4.3 2.9 8.2 5.3 11.6 2.4 3.4 5.4 6.2 9.1 8.3 3.7 2.2 8.1 3.2 13.1 3.2zm58.4-87.5h17.1v-30.8h22.6v30.8h20.4v16.9h-20.4v54.8c0 2.4.1 4.4.3 6.2.2 1.7.7 3.2 1.4 4.4.7 1.2 1.8 2.1 3.3 2.7 1.5.6 3.4.9 6 .9 1.6 0 3.2 0 4.8-.1 1.6-.1 3.2-.3 4.8-.7v17.5c-2.5.3-5 .5-7.3.8-2.4.3-4.8.4-7.3.4-6 0-10.8-.6-14.4-1.7-3.6-1.1-6.5-2.8-8.5-5-2.1-2.2-3.4-4.9-4.2-8.2-.7-3.3-1.2-7.1-1.3-11.3v-60.5h-17.1v-17.1z" fill="#191919"/><path fill="#00b67a" d="M271.3 98.6H167.7L135.7 0l-32.1 98.6L0 98.5l83.9 61L51.8 258l83.9-60.9 83.8 60.9-32-98.5 83.8-60.9z"/><path fill="#005128" d="M194.7 181.8l-7.2-22.3-51.8 37.6z"/></svg>
          {% elsif block.settings.review_badge_style == 'google' %}
            <svg class="google-logo" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 168" width="512" height="168">
              <g id="XMLID_24_">
                <path id="XMLID_26_" style="fill: #4285f4" d="m125.9 59.4h-59.8v17.7h42.4c-2.1 24.9-22.9 35.4-42.4 35.4-25 0-46.7-19.6-46.7-47.2 0-26.8 20.7-47.5 46.7-47.5 20.1 0.1 32 12.9 32 12.9l12.5-12.8c0 0-16-17.8-45-17.8-37 0-65.6 31.3-65.6 64.9 0 33.1 27 65.4 66.6 65.4 34.8 0 60.3-24 60.3-59.3 0-7.4-1-11.7-1-11.7z"/>
                <path id="XMLID_32_" style="fill: #ea4335" d="m174.8 46.5c-24.5 0-42.1 19.2-42.1 41.5 0 22.7 17 42.2 42.3 42.2 23 0 41.7-17.6 41.7-41.6 0.1-27.9-21.7-42.1-41.9-42.1zm0.3 16.5c12 0 23.5 9.7 23.5 25.4 0 15.4-11.4 25.5-23.6 25.5-13.4 0-23.9-10.7-23.9-25.5 0-14.6 10.4-25.4 23.9-25.4z"/>
                <path id="XMLID_35_" style="fill: #fbbc05" d="m266.4 46.5c-24.5 0-42.1 19.2-42.1 41.5 0 22.7 17 42.2 42.4 42.2 22.9 0 41.6-17.6 41.6-41.6 0-27.9-21.9-42.1-41.9-42.1zm0.3 16.5c12 0 23.5 9.7 23.5 25.4 0 15.4-11.4 25.5-23.5 25.5-13.5 0-24-10.7-24-25.5-0.1-14.6 10.4-25.4 24-25.4z"/>
                <path id="XMLID_38_" style="fill: #4285f4" d="m356.1 46.5c-22.6 0-40.2 19.7-40.2 41.8 0 25.2 20.5 41.9 39.9 41.9 11.9 0 18.2-4.7 22.9-10.2v8.3c0 14.4-8.7 23.1-22 23.1-12.7 0-19.2-9.6-21.4-14.9l-16.1 6.7c5.7 12.1 17.2 24.7 37.7 24.7 22.4 0 39.4-14.1 39.4-43.6v-75.3h-17.6v7c-5.4-5.6-12.8-9.5-22.7-9.5zm1.7 16.5c11.1 0 22.4 9.4 22.4 25.4 0 16.4-11.3 25.4-22.5 25.4-12.1 0-23.1-9.7-23.1-25.2-0.2-16.1 11.4-25.6 23.2-25.6z"/>
                <path id="XMLID_42_" style="fill: #ea4335" d="m474.2 46.5c-21.1 0-39 16.9-39 41.8 0 26.4 19.9 42.1 41.1 42.1 17.7 0 28.6-9.7 35-18.4l-14.5-9.7c-3.8 5.8-10.1 11.5-20.5 11.5-11.8 0-17.2-6.5-20.5-12.8l56.2-23.2-2.9-6.8c-5.4-13.4-18.1-24.5-34.9-24.5zm0.9 16.1c7.6 0 13.1 4 15.5 8.9l-37.5 15.7c-1.7-12.2 9.8-24.6 22-24.6z"/>
                <path id="XMLID_43_" fill-rule="evenodd" style="fill: #34a853" d="m408.5 4.4h18.4v123.5h-18.4z"/>
              </g>
            </svg>
          {% endif %}
        {%- endif -%}
      </div>
    {% endif %}
    </div>
  {%- endcapture -%}

  {%- if block.settings.link != blank -%}
    <a href="{{ block.settings.link }}" target="_blank">
      {{ badge }}
    </a>
  {%- else -%}
    {{ badge }}
  {%- endif -%}
</div>

{% stylesheet %}
  .reviews-badge {
    width: fit-content;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
  }

  shopify-visual-preview-block-list .reviews-badge[data-visual-preview-mode] {
    max-width: 400px;
  }

  .reviews-badge a {
    text-decoration: none;
    color: inherit;
  }

  .reviews-badge_badge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
    background-color: transparent;
  }

  .reviews-badge_badge--wrapped {
    border-radius: var(--badge-border-radius);
    padding: var(--padding-sm) var(--padding-md);
    background-color: var(--color-background);
    height: 40px;
  }

  .reviews-badge_stars:has(.icon) {
    height: 20px;
  }

  .reviews-badge_stars svg {
    width: 90px;
  }

  .reviews-badge_stars .icon {
    font-size: 20px !important;
    margin: 0 -4px;
    font-variation-settings:
      'FILL' 0,
      'wght' var(--icon-weight),
      'GRAD' var(--icon-grade),
      'opsz' 20;
  }

  .reviews-badge_stars .icon--star,
  .reviews-badge_stars .icon--star-filled {
    color: var(--color-stars-icons);
  }

  .reviews-badge_stars .icon--google {
    color: #fbbc05;
  }

  .reviews-badge_stars .icon--star-filled {
    font-variation-settings:
      'FILL' 1,
      'wght' var(--icon-weight),
      'GRAD' var(--icon-grade),
      'opsz' 20;
  }

  .reviews-badge_logo img,
  .reviews-badge_logo svg {
    width: 100%;
    max-height: 20px;
  }

  .reviews-badge_logo .trustpilot-logo {
    max-width: 80px;
  }

  .reviews-badge_stars svg,
  .reviews-badge_logo svg {
    display: flex;
  }

  .reviews-badge_logo .trustpilot-logo {
    margin-top: -5px;
  }

  .reviews-badge_text-1,
  .reviews-badge_text-2 {
    font-size: var(--font-body--size);
  }

  .reviews-badge_text-1 p,
  .reviews-badge_text-2 p {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .reviews-badge_badge {
      padding: 10px 15px;
      gap: 7px;
    }

    .reviews-badge_text-1,
    .reviews-badge_text-2 {
      font-size: var(--font-body--size-small);
    }

    .reviews-badge_logo img,
    .reviews-badge_logo svg {
      width: 100%;
      max-width: 80px;
    }

    .reviews-badge_stars svg {
      width: 80px;
    }
  }

  @media screen and (max-width: 390px) {
    .reviews-badge_text-1 {
      display: none;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:reviews_badge",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:style"
    },
    {
      "type": "select",
      "id": "review_badge_style",
      "label": "t:review_badge_style",
      "options": [
        {
          "value": "trustpilot",
          "label": "t:trustpilot"
        },
        {
          "value": "google",
          "label": "t:google"
        },
        {
          "value": "custom",
          "label": "t:custom"
        }
      ],
      "default": "google"
    },
    {
      "type": "checkbox",
      "id": "wrap_in_a_badge",
      "label": "t:wrap_in_a_badge",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_badge_border",
      "label": "t:show_badge_border",
      "default": true,
      "visible_if": "{{ block.settings.wrap_in_a_badge }}"
    },
    {
      "type": "header",
      "content": "t:content"
    },
    {
      "type": "inline_richtext",
      "id": "text_1",
      "label": "t:text_before_stars",
      "default": "t:text_before_stars_default"
    },
    {
      "type": "select",
      "id": "stars",
      "label": "t:stars",
      "options": [
        {
          "value": "4",
          "label": "t:4_stars"
        },
        {
          "value": "4,5",
          "label": "t:4_5_stars"
        },
        {
          "value": "5",
          "label": "t:5_stars"
        }
      ],
      "default": "4,5"
    },
    {
      "type": "inline_richtext",
      "id": "text_2",
      "label": "t:text_after_stars",
      "default": "t:text_after_stars_default"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:logo",
      "info": "t:reviews_badge_logo_info"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:link"
    },
    {
      "type": "header",
      "content": "t:margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "t:margin_top",
      "default": 10,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "t:margin_bottom",
      "default": 10,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:advanced_settings"
    },
    {
      "type": "text",
      "id": "additional_class",
      "label": "t:additional_class",
      "info": "t:additional_class_info"
    },
    {
      "type": "header",
      "content": "t:go_further"
    },
    {
      "type": "paragraph",
      "content": "t:go_further_description"
    }
  ],
  "presets": [
    {
      "name": "t:reviews_badge",
      "category": "t:reviews",
      "settings": {
        "review_badge_style": "custom",
        "wrap_in_a_badge": true,
        "color_scheme": "scheme-1",
        "text_1": "t:reviews_badge_text_1_default",
        "stars": "4,5",
        "text_2": "t:reviews_badge_text_2_default",
        "link": "",
        "margin_top": 0,
        "margin_bottom": 0,
        "additional_class": ""
      }
    },
    {
      "name": "t:reviews_badge_google",
      "category": "t:reviews",
      "settings": {
        "review_badge_style": "google",
        "wrap_in_a_badge": true,
        "color_scheme": "scheme-1",
        "text_1": "",
        "stars": "4,5",
        "text_2": "t:reviews_badge_google_text_2_default",
        "link": "",
        "margin_top": 0,
        "margin_bottom": 0,
        "additional_class": ""
      }
    },
    {
      "name": "t:reviews_badge_trustpilot",
      "category": "t:reviews",
      "settings": {
        "review_badge_style": "trustpilot",
        "wrap_in_a_badge": true,
        "color_scheme": "scheme-1",
        "text_1": "t:reviews_badge_trustpilot_text_1_default",
        "stars": "4,5",
        "text_2": "t:reviews_badge_trustpilot_text_2_default",
        "link": "",
        "margin_top": 0,
        "margin_bottom": 0,
        "additional_class": ""
      }
    }
  ]
}
{% endschema %}
