{% assign collection_list = section.settings.collection_list | default: collections %}

<div
  class="
    collections-featured color-{{ section.settings.color_scheme }}
    {%- if section.settings.show_on_display == 'desktop_only' %} mobile-hide{% endif -%}
    {%- if section.settings.show_on_display == 'mobile_only' %} desktop-hide{% endif -%}
    {{ section.settings.additional_class }}
  "
  style="--margin-top: {{ section.settings.margin_top }}px; --margin-bottom: {{ section.settings.margin_bottom }}px"
>
  <div
    class="collections-featured__inner page-width"
    style="--padding-top: {{ section.settings.padding_top }}px; --padding-bottom: {{ section.settings.padding_bottom }}px"
  >
    {% content_for 'blocks' %}

    {% if section.settings.layout_type == 'grid' %}
      <div
        class="collections-featured__grid"
        style="
          --grid-columns: {{ section.settings.grid_columns }};
          --grid-columns-mobile: {{ section.settings.grid_columns_mobile }};
        "
      >
        {% for collection in collection_list limit: section.settings.max_collections %}
          {% content_for 'block', type: '_collection-card', id: 'collection-card', closest.collection: collection %}
        {% endfor %}
      </div>
    {% elsif section.settings.layout_type == 'slider' %}
      {% capture slides %}
      {% for collection in collection_list limit: section.settings.max_collections %}
        <li class="splide__slide"> 
          <div class="slide" style="--margin-top: 0px; --margin-bottom: 0px;">
            {% # theme-check-disable %}
            {% content_for 'block', type: '_collection-card', id: 'collection-card', closest.collection: collection %}
            {% # theme-check-enable %}
          </div>
        </li>
      {% endfor %}
    {% endcapture %}

      {% render 'slider',
        block: section,
        slides: slides,
        gap: 16,
        show_arrows: section.settings.show_arrows,
        show_pagination: section.settings.show_pagination,
        per_page_desktop: section.settings.slider_items,
        per_page_mobile: section.settings.slider_items_mobile,
        rewind: section.settings.rewind
      %}
    {% endif %}
  </div>
</div>

{% stylesheet %}
  .collections-featured {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
  }

  .collections-featured__inner {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
  }

  .collections-featured__grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns-mobile), 1fr);
    gap: var(--gap-md);
  }

  @media (width > 750px) {
    .collections-featured__grid {
      grid-template-columns: repeat(var(--grid-columns), 1fr);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:collections_featured",
  "disabled_on": {
    "groups": ["header", "footer", "custom.cart_drawer", "custom.breadcrumbs"]
  },
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "show_on_display",
      "label": "t:show_on_display",
      "default": "desktop_and_mobile",
      "options": [
        { "value": "desktop_and_mobile", "label": "t:desktop_and_mobile" },
        { "value": "desktop_only", "label": "t:desktop_only" },
        { "value": "mobile_only", "label": "t:mobile_only" }
      ]
    },
    {
      "type": "header",
      "content": "t:content"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "t:collections",
      "info": "t:collection_list_info"
    },
    {
      "type": "range",
      "id": "max_collections",
      "label": "t:max_collections",
      "min": 2,
      "max": 20,
      "default": 8,
      "step": 1
    },
    {
      "type": "header",
      "content": "t:style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "t:layout_type",
      "default": "grid",
      "options": [
        { "value": "grid", "label": "t:grid" },
        { "value": "slider", "label": "t:slider" }
      ]
    },
    {
      "type": "header",
      "content": "t:grid",
      "visible_if": "{{ section.settings.layout_type == 'grid' }}"
    },
    {
      "type": "range",
      "id": "grid_columns",
      "label": "t:grid_columns_desktop",
      "min": 2,
      "max": 5,
      "default": 4,
      "step": 1,
      "visible_if": "{{ section.settings.layout_type == 'grid' }}"
    },
    {
      "type": "select",
      "id": "grid_columns_mobile",
      "label": "t:grid_columns_mobile",
      "default": "2",
      "options": [
        { "value": "1", "label": "1" },
        { "value": "2", "label": "2" }
      ],
      "visible_if": "{{ section.settings.layout_type == 'grid' }}"
    },
    {
      "type": "header",
      "content": "t:slider",
      "visible_if": "{{ section.settings.layout_type == 'slider' }}"
    },
    {
      "type": "range",
      "id": "slider_items",
      "label": "t:slider_items",
      "min": 2,
      "max": 5,
      "default": 4,
      "step": 1,
      "visible_if": "{{ section.settings.layout_type == 'slider' }}"
    },
    {
      "type": "select",
      "id": "slider_items_mobile",
      "label": "t:slider_items_mobile",
      "default": "1.8",
      "options": [
        { "value": "1", "label": "1" },
        { "value": "1.8", "label": "1,8" },
        { "value": "2", "label": "2" }
      ],
      "visible_if": "{{ section.settings.layout_type == 'slider' }}"
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "t:show_arrows",
      "default": true,
      "visible_if": "{{ section.settings.layout_type == 'slider' }}"
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "t:show_pagination",
      "default": false,
      "visible_if": "{{ section.settings.layout_type == 'slider' }}"
    },
    {
      "type": "checkbox",
      "id": "rewind",
      "label": "t:rewind",
      "default": false,
      "visible_if": "{{ section.settings.layout_type == 'slider' }}"
    },
    {
      "type": "header",
      "content": "t:paddings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:padding_top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:padding_bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "t:margin_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "t:margin_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:advanced_settings"
    },
    {
      "type": "text",
      "id": "additional_class",
      "label": "t:additional_class",
      "info": "t:additional_class_info"
    },
    {
      "type": "header",
      "content": "t:go_further"
    },
    {
      "type": "paragraph",
      "content": "t:go_further_description"
    }
  ],
  "presets": [
    {
      "name": "t:collections_featured",
      "category": "t:collections",
      "settings": {
        "collection_list": [],
        "layout_type": "grid",
        "grid_columns": 4,
        "grid_columns_mobile": "2",
        "slider_items": 3,
        "slider_items_mobile": "1",
        "margin_top": 0,
        "margin_bottom": 0,
        "padding_top": 50,
        "padding_bottom": 50
      },
      "blocks": [
        {
          "type": "text",
          "name": "t:title",
          "settings": {
            "text": "t:collections_featured_title_default",
            "text_style": "h3",
            "font_weight": 400,
            "alignment": "left",
            "margin_top": 10,
            "margin_bottom": 30
          }
        },
        {
          "type": "_collection-card",
          "static": true,
          "id": "collection-card",
          "settings": {
            "wrap_in_card": false,
            "color_scheme": "",
            "layout_gap": 10
          },
          "blocks": [
            {
              "type": "image",
              "name": "t:image",
              "settings": {
                "image": "{{ closest.collection.image }}",
                "link": "",
                "image_ratio": "square"
              }
            },
            {
              "type": "text",
              "name": "t:text",
              "settings": {
                "text": "<p>{{ closest.collection.title }}</p>",
                "text_style": "paragraph",
                "font_weight": 500,
                "alignment": "left",
                "margin_top": 0,
                "margin_bottom": 0
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
