<div class="customer-reset-password color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="customer-reset-password__reset-password">
      <h1 class="h2 text-center">{{ 'customer.reset_password.title' | t }}</h1>

      <p class="text-center">{{ 'customer.reset_password.subtext' | t }}</p>

      {%- form 'reset_customer_password', class: 'customer-reset-password__form' -%}
        {% assign password_label = 'customer.reset_password.password' | t %}

        {% render 'textfield',
          label: password_label,
          name: 'customer[password]',
          id: 'password',
          type: 'password',
          autocomplete: 'new-password',
          full_width: true
        %}

        {%- if form.errors contains 'password' -%}
          <div class="form-error">
            {% render 'icon', icon: 'cancel' %}
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}
          </div>
        {%- endif -%}

        {% assign password_confirm_label = 'customer.reset_password.password_confirm' | t %}

        {% render 'textfield',
          label: password_confirm_label,
          name: 'customer[password_confirmation]',
          id: 'password_confirmation',
          type: 'password',
          autocomplete: 'new-password',
          full_width: true
        %}

        {%- if form.errors contains 'password_confirmation' -%}
          <div class="form-error">
            {% render 'icon', icon: 'cancel' %}
            {{ form.errors.translated_fields.password_confirmation | capitalize }}
            {{ form.errors.messages.password_confirmation }}
          </div>
        {%- endif -%}

        <div class="customer-reset-password__form-actions">
          {% assign submit_label = 'customer.reset_password.submit' | t %}

          {% render 'button', label: submit_label, type: 'submit', button_shape: 'full-width' %}
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% stylesheet %}
  .customer-reset-password {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    width: 100%;
    padding: 50px 0;
  }

  .customer-reset-password__reset-password {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }

  .customer-reset-password__reset-password > .h2 {
    margin-bottom: var(--margin-md);
  }

  .customer-reset-password__form {
    margin-top: var(--margin-lg);
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
  }

  .customer-reset-password__form-actions {
    margin-top: var(--margin-md);
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:reset_password",
  "settings": [
    {
      "type": "header",
      "content": "t:style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:go_further"
    },
    {
      "type": "paragraph",
      "content": "t:go_further_description"
    }
  ]
}
{% endschema %}
