<div
  class="article color-{{ section.settings.color_scheme }}"
  style="
    --margin-top: {{ section.settings.margin_top }}px;
    --margin-bottom: {{ section.settings.margin_bottom }}px;
  "
>
  <div
    class="article-content page-width"
    style="
      --padding-top: {{ section.settings.padding_top }}px;
      --padding-bottom: {{ section.settings.padding_bottom }}px;
    "
  >
    {% content_for 'blocks' %}
  </div>
</div>

{% comment %}
  {% if blog.comments_enabled? %}
    <h2>{{ 'blog.article_comments' | t }}</h2>

    <div id="comments">
      {% paginate article.comments by 10 %}
        {% for comment in article.comments %}
          <div>
            <p>{{ comment.author }}</p>
            <p>
              {{- comment.created_at | time_tag: format: 'date' -}}
            </p>
            <p>{{ comment.content }}</p>
          </div>
        {% endfor %}

        {{ paginate | default_pagination: anchor: 'comments' }}
      {% endpaginate %}
    </div>

      {% form 'new_comment', article %}
        <h2>{{ 'blog.comment_form_title' | t }}</h2>

        {{ form.errors | default_errors }}

        <div>
          <label for="author">{{ 'blog.comment_form_name' | t }}</label>
          <input type="text" name="comment[author]" id="author" value="{{ form.author }}" required>
        </div>

        <div>
          <label for="email">{{ 'blog.comment_form_email' | t }}</label>
          <input type="email" name="comment[email]" id="email" value="{{ form.email }}" required>
        </div>

        <div>
          <label for="body">{{ 'blog.comment_form_body' | t }}</label>
          <textarea name="comment[body]" id="body" required>{{ form.body }}</textarea>
        </div>

        <input type="submit" value="{{ 'blog.comment_form_submit' | t }}">
      {% endform %}
  {% endif %}
{% endcomment %}

{% stylesheet %}
  .article {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article-content {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
  }

  @media (width > 750px) {
    .article-content {
      width: 65vw;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:article",
  "blocks": [
    {
      "type": "_article-date"
    },
    {
      "type": "_article-group"
    },
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:paddings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:padding_top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:padding_bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "header",
      "content": "t:margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "t:margin_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "t:margin_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "header",
      "content": "t:go_further"
    },
    {
      "type": "paragraph",
      "content": "t:go_further_description"
    }
  ]
}
{% endschema %}
